<h1>QUIZ MAKER</h1>

<select name="categories" id="categorySelect" [(ngModel)]="selectedCategory">
  <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
</select>

<select name="difficulties" id="difficultySelect" [(ngModel)]="selectedDifficulty">
  <option *ngFor="let difficulty of difficulties" [value]="difficulty">{{difficulty}}</option>
</select>

<button id="createBtn" [disabled]="!selectedCategory || !selectedDifficulty" (click)="createQuiz()">Create</button>

<div *ngIf="questions.length > 0">
  <div *ngFor="let question of questions">
    <span>{{question.question}}</span>
    <button *ngFor="let answer of question.incorrect_answers">{{answer}}</button>
  </div>
</div>
